@font-face{
  src: url("Josefin Sans.ttf");
  font-family: Josefin Sans;
}
body{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
header{
  background-color: white;
  position: sticky;
  top: 0px;
}
#hyperlink-table{
  border-collapse: collapse;
  background-color: white;
  display: inline-table;
  position: absolute;
  top: 23px;
  right: 10px;
}
#hl-1, #hl-2, #hl-3, #hl-4{
  font-family: "Josefin Sans";
  text-decoration: none;
  color: black;
  padding: 10px;
}
#hl-1:hover, #hl-2:hover, #hl-3:hover, #hl-4:hover{
  background-color: #072ac8;
  color: white;
  color: white;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
#breadcrumb{
  font-family: "Josefin Sans";
  font-size: 17px;
  font-weight: bold;
  margin-left: 10px;
}
#notableenv-table{
  margin-left: auto;
  margin-right: auto;
  border-spacing: 30px;
}
#row-1{
  font-family: "Josefin Sans";
  color: white;
  font-size: 20px;
}
#name{
  background-color: #072ac8;
  padding: 5px;
}
#row-2 td{
  text-align: center;
}
#row-3{
  font-family: "Josefin Sans";
  color: white;
  font-size: 17px;
  text-align: center;
  line-height: 20px;
  vertical-align: top;
}
#quote{
  font-family: "Times New Roman";
  font-style: italic;
}