@font-face{
  src: url("Josefin Sans.ttf");
  font-family: Josefin Sans;
}
body{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
#website-logo{
  background-color: white;
  position: sticky;
  top: 0px;
}
#website-logo input{
  position: absolute;
  top: 35px;
  right: 20px;
  height: 30px;
  width: 300px;
}
#breadcrumb{
  font-family: "Josefin Sans";
  font-size: 17px;
  font-weight: bold;
  margin-left: 10px;
}
#description{
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 17px;
  line-height: 20px;
  color: white;
  margin: 10px;
}
#hyperlinks{
  border-collapse: separate;
  border-spacing: 10px;
  margin-left: auto;
  margin-right: auto;
}
#hyperlinks th{
  background-color: #072ac8;
  line-height: 20px;
}
#hl-1, #hl-2, #hl-3, #hl-4{
  font-family: "Josefin Sans";
  text-decoration: none;
  color: white;
  padding: 10px;
}
#hl-1:hover, #hl-2:hover, #hl-3:hover, #hl-4:hover{
  padding: 40px;
}
#environment-data{
  margin-left: auto;
  margin-right: auto;
  border-spacing: 15px 0px;
}
#environment-data img{
  height: 200px;
  width: 200px;
}
#environment-data td{
  text-align: center;
  font-family: "Josefin Sans";
  color: white;
  font-size: 17px;
  line-height: 20px;
}
#row-2{
  vertical-align: top;
}
#reference-list h3{
  background-color: #072ac8;
  font-family: "Josefin Sans";
  color: white;
  position: sticky;
  top: 104px;
  padding: 10px;
}
#reference-list h3:hover{
  background-color: #072ac8;
  display: block;
}
#references{
  font-family: "Josefin Sans";
  color: white;
  margin: 10px;
  display: none;
  position: sticky;
  top: 0px;
  background-color: #27963c;
  z-index: -50;
}
#reference-list{
  position: relative;
  display: inline-block;
}
#reference-list:hover #references {
  display: block;
}