@font-face{
  src: url("fonts/Josefin Sans.ttf");
  font-family: Josefin Sans;
}
body{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
#website-logo{
  background-color: white;
  position: sticky;
  top: 0px;
}
#breadcrumb{
  font-family: "Josefin Sans";
  font-size: 17px;
  font-weight: bold;
  margin-left: 10px;
}
#description{
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 17px;
  color: white;
  line-height: 20px;
}
#hyperlink-table{
  border-collapse: separate;
  border-spacing: 10px;
  margin-left: auto;
  margin-right: auto;
}
#hl-1, #hl-2, #hl-3, #hl-4{
  font-family: "Josefin Sans";
  text-decoration: none;
  color: white;
  padding: 10px;
}