@font-face{
  src: url("fonts/Josefin Sans.ttf");
  font-family: Josefin Sans;
}
#website-logo{
  background-color: white;
}
#breadcrumb{
  font-family: "Josefin Sans";
  font-size: 17px;
  font-weight: bold;
  color: white;
}
#description{
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 17px;
  color: white;
}
#hyperlinks{
  font-family: "Josefin Sans";
}
#hyperlinks a:hover{
  background-color: blue;
}
#hyperlink-1{
  text-decoration: none;
  color: white;
}
#hyperlink-2{
  text-decoration: none;
  color: white;
}
#hyperlink-3{
  text-decoration: none;
  color: white;
}
#hyperlink-4{
  text-decoration: none;
  color: white;
}